[Unit]
Description=StillFrame service
After=network.target

[Service]
ExecStart=/usr/bin/bash /app/StillFrame/start.sh
Restart=always  # Optional: restart if it fails
RestartSec=5    # Optional: delay between restart attempts

[Install]
WantedBy=multi-user.target